/* general */
main {
    width: 80%;
    margin-left: 10%;
}

body.container {
    padding-top: 60px;
}

.container {
    padding: 3ls0px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    display: block;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    line-height: 170%;
}


/* home page css */
.subtitle {
    width: 100%;
    height: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.companyFeatures {
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.headerFeatures {
    /* padding-top: 65px; */
    text-align: center;
}

.hbold {
    text-align: center;
    font-weight: bolder;
    font-size: 4em;
}

/* Navbar CSS */

.logoHeader {
    float: left;
    padding-left: 0;
}

.navSize {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

ul {
    padding: 20px;
}

ul.no-bullets {
    list-style-type: none;
}

/* a:hover {
    background-color: rgba(253, 187, 45, 1);
    color: white;
} */

li {
    /* display: inline; */
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}


.headerBanner {
    background-color: rgba(253, 187, 45, 1);
    height: 70px;
    padding-top: 10px;
}

.customer_service {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: black;
    float: right;
}


h3 {
    font-family: 'Montserrat', sans-serif;
}

/* About CSS */

.servicesContent {
    margin: 100px;
}

.heading1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about {
    line-height: 160%;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.mission {
    font-size: 3em;
    text-align: center;
    color: #2E86C1;
}

/* 
Services CSS */
.section {
    width: 650px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-right: 10px;
}

.serviceImg {
    float: right;
    border-radius: 8px;
}

.service_content {
    margin-top: 5%;
    margin-left: 23%;
    height: 370px;
}

.button1 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.non_emergency {
    clear: left;
}

.serviceContent {
    padding: 10px;
    width: 90%;
}

.non_emergency_container {
    margin-right: 10%;
}

.servicesImg {
    float: right;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.services {
    font-size: 2.5em;
    text-align: left;
    color: #2E86C1;
}

.pServices {
    width: 40%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 5%;
}

.clearfix {
    overflow: auto;
}

/* footer css */
.footer {
    background-color: black;
    color: bisque;
    text-align: center;
}


.customer_service_footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
}

/* Google Fonts */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Nunito', sans-serif;
*/


/* Media queries */

@media only screen and (max-width: 300px) {
    .logoHeader {
        display: none;
    }

    .customer_service {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: black;
        float: right;
    }

    .line {
        display: none;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        text-align: center;
    }

    .header1 {
        text-align: left;
    }

    .servicesImg {
        /* float: right; */
        max-width: 100%;
        height: auto;
        border-radius: 5%;
        padding: 1%;
    }

    .pServices {
        width: 80%;
    }

    .services {
        font-size: 1.5em;
    }

    .hbold {
        text-align: center;
        font-weight: bolder;
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    li {
        font-size: 1em;
    }

    .customer_service_footer {
        font-size: 1.5em;
    }

    .pServices {
        width: 90%;
        text-align: left;
    }
}

@media (max-width: 576px) {
    .logoHeader {
        display: none;
    }

    .line {
        display: none;
    }


    p {
        display: inline;
        text-align: center;
        font-size: 1.2em;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
    }


    .companyFeatures {
        margin-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .servicesImg {
        float: right;
        max-width: 100%;
        height: auto;
        border-radius: 5%;
        padding: 20%;
    }

  
    .pServices {
        width: 100%;
    }

    .services {
        font-size: 1.5em;
    }

    .hbold {
        text-align: center;
        font-weight: bolder;
        font-size: 2.5em;
    }


    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 2em;
    }

    h3 {
        text-align: center;
    }

    li {
        font-size: 1em;
    }

    .customer_service_footer {
        font-size: 1.5em;
    }

    .pServices {
        width: 90%;
        text-align: left;
    }

}

@media (max-width: 768px) {
    .logoHeader {
        display: none;
    }

    .line {
        display: none;
    }


    p {
        display: inline;
        text-align: center;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
    }

    .header1 {
        text-align: left;
    }

    .companyFeatures {
        margin-right: 25px;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .servicesImg {
        float: right;
        max-width: 100%;
        height: auto;
        border-radius: 5%;
        padding: 20%;
    }

    .blockquote {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .pServices {
        width: 80%;
    }

    .services {
        font-size: 1.5em;
    }

    .hbold {
        text-align: center;
        font-weight: bolder;
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 2em;
    }

    li {
        font-size: 1em;
    }

    .customer_service_footer {
        font-size: 1.5em;
    }

    .pServices {
        width: 90%;
        text-align: left;
    }
    
}

@media (max-width: 992px) {

    .container {
        padding: 20px;
    }

    .logoHeader {
        display: none;
    }

    .line {
        display: none;
    }

    p {
        display: block;
        text-align: center;
    }

    .headerFeatures {
        font-weight: bold;
        text-align: center;
        padding-top: 45px;
    }

    h3 {
        text-align: center;
    }

    .servicesImg {
        float: right;
        max-width: 100%;
        height: auto;
        border-radius: 5%;
        padding: 15%;
    }

    .pServices {
        width: 90%;
        text-align: left;
    }
    

}